.grabbing {
  cursor: grabbing;
}

/* NEW: Disallow text selection when we apply .noselect to body */
.noselect {
  -webkit-user-select: none; /* for Safari */
  -moz-user-select: none; /* for Firefox */
  -ms-user-select: none; /* for IE/Edge */
  user-select: none;
}

/* Structures */

/* Cell Structures */

.canvas-cell {
  background-color: white !important;
  color: black !important;
  font-weight: bold;
  text-align: center;
}

.disabled-cell {
  background-color: #eee !important;
  color: #999 !important;
  cursor: not-allowed !important;
}

/* Cell Cluster Structures */

.cluster-empty-cell {
  background-color: #bbf !important;
}

/* Block Structures */

.canvas-empty-cell {
  background-color: #eef !important;
}

.border-cell {
  background-color: lightyellow !important;
}

.frame-cell {
  background-color: yellow !important;
}

/* Block Cluster Structures */

.linked-cell {
  background-color: orange !important;
  color: white !important;
}

.locked-cell {
  background-color: red !important;
  color: white !important;
}
